/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(../Libary/bootstrap-4/css/bootstrap.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Raleway',sans-serif;
  font-size: 18px;
  color: #282828; }

h3 {
  font-size: 24px; }

#main-nav {
  background: #282828;
  display: flex;
  justify-content: space-between;
  padding: 0 10vw;
  align-items: center;
  -webkit-box-shadow: -1px 8px 28px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 8px 28px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 8px 28px 0px rgba(0, 0, 0, 0.2); }
  #main-nav .brandlogo {
    width: 50%; }
    #main-nav .brandlogo span {
      font-size: 30px;
      color: #fff; }
  #main-nav nav {
    width: 50%; }
    #main-nav nav ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 20px 0 25px; }
      #main-nav nav ul li a {
        color: #fff;
        height: 100%;
        position: relative;
        padding-bottom: 5px;
        overflow: hidden; }
        #main-nav nav ul li a:before {
          content: '';
          height: 2px;
          width: 0;
          background: #44bd32;
          display: inline-block;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: all .3s ease; }
        #main-nav nav ul li a:hover {
          color: #fff;
          text-decoration: none; }
          #main-nav nav ul li a:hover:before {
            width: 100%; }

.main-section {
  padding: 80px 0; }

.big-buttons {
  display: flex; }
  .big-buttons .big-buttons-content {
    width: 50%;
    margin: 0 15px;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .big-buttons .big-buttons-content:before {
      content: '';
      display: block;
      background: #282828;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      transform: translateX(-100%);
      transition: all .3s ease;
      opacity: 0; }
    .big-buttons .big-buttons-content:after {
      content: '';
      display: block;
      height: 10px;
      width: 100%;
      background: #44bd32;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      transition: all .3s .1s ease;
      opacity: 0;
      position: absolute; }
    .big-buttons .big-buttons-content:hover:before {
      transform: translateY(0);
      opacity: .8; }
    .big-buttons .big-buttons-content:hover .big-buttons-content-text {
      opacity: 1; }
    .big-buttons .big-buttons-content:hover:after {
      transform: translateX(0);
      opacity: .8; }
    .big-buttons .big-buttons-content .big-buttons-content-text {
      position: absolute;
      padding: 40px;
      opacity: 0;
      transition: all .3s ease;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .big-buttons .big-buttons-content .big-buttons-content-text h3 {
        color: #fff;
        text-align: center; }
    .big-buttons .big-buttons-content:first-child {
      margin-left: 0; }
    .big-buttons .big-buttons-content:last-child {
      margin-right: 0; }
      .big-buttons .big-buttons-content:last-child:before {
        transform: translateX(100%); }
      .big-buttons .big-buttons-content:last-child:after {
        transform: translateX(100%); }
      .big-buttons .big-buttons-content:last-child:hover:before {
        transform: translateX(0); }
      .big-buttons .big-buttons-content:last-child:hover:after {
        transform: translateX(0); }
    .big-buttons .big-buttons-content img {
      width: 100%;
      height: auto; }

/*# sourceMappingURL=main.css.map */
