body {
  overflow-x: hidden;
  display: block;
}

#main-footer {
  margin-top: 80px;
  background: #28a745;
  padding: 40px 0;
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 0;
    li {
      color: #fff;
    }
  }
}